@import "tailwindcss";


/* Override de l'autofill navigateur */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: #f3f4f6 !important;
  caret-color: #f3f4f6 !important;
}
